#results {
	top: 100%;
}

#results {
	.dropdown-item {
		border-bottom: 1px solid var(--dropdown-border-color);
		width: 100%;
		box-sizing: border-box;
		padding: 7px 0 2px 0;
	}

	.dropdown-item.active {
		background-color: var(--scrollbar-thumb-color);
		border-radius: 5px;
	}
}

#results {
	position: absolute;
	max-height: 350px;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 1000;
	background: white;
	color: black;
	overflow-y: auto;
	margin: 20px auto;
	padding: 20px;
	border-radius: 0.25rem;
}

.no-border {
	border-bottom: none !important;
	padding-bottom: -1px;
}

#results::-webkit-scrollbar {
	width: 15px;
}

#results::-webkit-scrollbar-track {
	border-radius: 20px;
	margin: 4px;
	background-color: var(--scrollbar-track-color);
}

#results::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-color);
	border-radius: 20px;
	border: 1px solid white;
}

.footer-content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10%;
    max-width: 900px;
    margin: 0 auto;
}

.footer {
    border-top: 1px solid #d3d3d3;
}

.footer .contact, .footer .follow {
	margin-top: 20px;
}

.footer a {
	color: var(--footer-text-color);
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}

.footer-logo {
    height: 50px;
}

.footer .copyright {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
}

@media (min-width: 768px) {
	.footer-content {
		flex-wrap: nowrap;
	}
}

@media (max-width: 767px) {
	.footer-content {
		flex-direction: column;
		align-items: center;
		gap: 40px;
	}

	.footer-logo {
		margin-bottom: 20px;
	}
}

.result-label {
	font-weight: 500;
	padding-left: 20px;
	padding-right: 20px;
}

.result-description {
	padding-left: 20px;
	padding-right: 20px;
}

.language-selector {
	background-color: #f8f9fa;
}

.language-selector img {
	margin-right: 7px;
}

.language-selector li {
	border-bottom: 1px solid var(--language-selector-border-color);
	padding: 5px;
	cursor: pointer;
}

.language-selector .dropdown-item:hover {
	background-color: var(--link-hover-bg-color);
}


@media (max-width: 992px) {
	#navbar-items {
		margin-left: 10px !important;
	}
}
